body {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background-color: #777;
	position: relative;
	font-family: Arial;
}

h3 {
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.sidenav {
	grid-column-start: 1;
	grid-column-end: 1;
	height: 100%;
	width: 25%;
	min-width: 50px;
	max-width: 200px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #111;
	padding-top: 20px;
	outline: 2px solid white;
}

.sidenav a {
	padding: 2.5%;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
}

.sidenav b {
	padding: 2.5%;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
}

.sidenav a:hover{
	background-color: white;
	color: black;
}

img {
	width: 100%;
}

.contents {
	grid-column-start: 2;
	grid-column-end: -1;
	height: 100%;
	color: white;
}

.contents a:link, .contents a:hover, .contents a:visited, .contents a:active{
	color: black;
	background-color: transparent;
}